body {
    display: block;
    margin: 0px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 53px;
    z-index: 999;
}
#nav p {
    margin-top: 20px;
    font-size: 20px;
    color: aliceblue;
}
#nav a{
    text-decoration: none;
}
img{
    width: 100%;
}
.d-block{
    width: 100%;
    height: 50%;
}
.imgesss {
    margin: 20px;
    width: 13%;
    display: flex;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.titless {
    display: flex;
    width: 33%;
    padding: 23px;
}
.cartdiv {
    display: flex;
}
button.add {
    width: 6%;
    margin: 31px;
    margin-right: -10px;
    height: 6%;
    font-size: 23px;
    margin-left: 44px;
    font-weight: 600;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #cb113fc9;
    color: aliceblue;
    border-radius: 69px;
    padding: 18px;
    border: 2px solid black;
}
button.remove {
    width: 6%;
    margin: 32px;
    height: 6%;
    font-size: 23px;
    margin-left: -7px;
    font-weight: 600;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #cb113fc9;
    color: aliceblue;
    border-radius: 69px;
    padding: 18px;
    border: 2px solid black;
}
div#cart {
    padding: 70px;
}

p.pricess {
    margin: 52px;
    font-size: 25px;
}
.cart{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.qtytyyy {
    margin: 48px;
    font-size: 23px;
}